

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 10px 15px;
    transition: 200ms ease-in-out
}

.change .bar2  {
    opacity: 0;
}
/* sequence of class is imp here */
.change .bar1  {
    transform: rotate(-45deg) translate(-10px, 10px);
    
}
.change .bar3  {
    transform: rotate(45deg) translate(-10px,-12px);
}

.container {
    cursor:pointer;
    margin: 30px 15px;
}






